body {
  padding: 50px 100px;
}

header {
  display: flex;
  height: 500px;
  margin-bottom: 100px;
}
img.headerImg {
  
}

.headerInfo {
  display: flex;
  flex-direction: column;
  margin: 40px 40px 40px 0px;
  padding: 20px 40px 20px 40px;
}

.aboutMe{
  flex-grow: 1;
  font-size:x-large;

  overflow:auto
}

.linkContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.shadow {
  box-shadow: 0 0 10px black;
}

img.icon{
  height: 35px;
}

main {
  display: grid;
}

.projectCard {
  display: flex;
  flex-direction: column;
  
}

.projectHeader {
  display: flex;
  align-items: center;
}

.projectHeader>h2{
  flex-grow: 1;
}