* {
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #000000;
  background-image: url(imgs/modern.jpg);
  background-size: cover;
  background-position: center center;
}

header {
  display: flex;
  height: 400px;
  margin: 50px 0px;
}

.headerImg {
  height: 400px;
  width: 533px;
  border-radius: 10px;
}

footer {
  display: flex;
  justify-content: space-around;

  height: 400px;
  
  margin-bottom: 70px;
}

main {
  margin-bottom: 100px;
}

img.mainBackground{
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;

  max-height: 100vh;
  width: 100vw;
  max-width: 100%;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
}

.myWork {
  color: white;
}

.headerInfo {
  display: flex;
  flex-direction: column;
  margin: 30px 0px;
  padding: 20px 40px;
  background-color: white;
}

.aboutMe{
  flex-grow: 1;
  font-size:larger;

  overflow:auto;
  margin-top: 0;
  margin-bottom: 20;
}

.headerLinks {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.footerLinks {
  justify-content: flex-start;
  display: flex;
  gap: 5px;
}

.shadow {
  box-shadow: 0px 0px 10px white;
}

img.icon{
  height: 30px;
}

.iconLink{
  display: flex;
  align-items: center;
  gap: 5px;
}

.cardContainer {
  display: grid;
  grid-gap: 40px;
  grid-template-columns:  1fr 1fr 1fr;
  justify-items: center;
}

.projectCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;

  border-radius: 15px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  height: 475px;
}

img.cardImg {
  height: 250px;
  max-width: 100%;
  border-radius: 15px;
}

.cardHeader{
  margin: 0px;
}

.cardDescription {
  margin: 0;
  height: 83px;
}

.cardLinks {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.btnContainer {
  flex-grow: 1;
  display: flex;
  text-decoration: none;
}

.cardAction {
  flex-grow: 1;
  border-width: 1px;
  border-radius: 15px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.hover, .cardAction:hover>.default{
  display: none;
}

.cardAction:hover>.hover{
  display: inline-block;
}

.cardAction:hover{
  background-color: black;
  color: white;
  outline-color: white;
}

.invert {
  background-color: black;
  outline-color: white;
  color: white;
}

.invert:hover{
  background-color: white;
  color: black;
}

.cardAction:hover{
  cursor: pointer;
}

.cardTech {
  text-align: center;
}

.footerInfo {
  display: flex;
  flex-direction: column;
  font-size: larger;

  background-color: white;
  flex: 1;
  padding: 20px 40px;
  margin: 30px 0px;
  gap: 12px;
}

.footerInfo > h1 {
  margin: 0;
}

.phone, .email {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footerImg {
  height: auto;
}

.footerMessage, .homeAddress, .phoneNumber, .emailAddress {
  margin: 0;
}

@media only screen and (max-width:675px) {

  body {
    max-width: 400px;
    padding: 20px;
  }

  header {
    flex-direction: column;
    align-items: center;
    margin: 0px;
    height: auto;
  }

  main {
    margin-bottom: 0px;
  }

  .headerImg{
    height: auto;
    width: 300px;
  }

  .headerInfo {
    margin: 20px 0px 0px 0px;
    padding: 0px;
    
    background-color: transparent;
    color: white;
    box-shadow: none;
  }

  .headerLinks{ 
    display: none;
  }

  .cardContainer{
    display: flex;
    flex-direction: column;
  }

  .projectCard{
    margin-bottom: 10px;
  }

  footer {
    flex-direction: column;
    height: auto;
    margin-bottom: 20px;
  }

  .footerInfo{
    padding: 20px;
  }

}

@media only screen and (max-width:1025px) {
  
  body {
    max-width: 95vw;
    padding: 20px;
  }

  header {
    flex-direction: column;
    align-items: center;
    margin: 0px;
    height: auto;
  }

  main {
    margin-bottom: 20px;
  }

  .cardContainer {
    grid-gap: 2vw;
    grid-template-columns:  1fr 1fr;
  }

  .projectCard{
    box-shadow: 0px 0px 5px white;
  }

  footer {
    flex-direction: column;
    max-width: 95vw;
    margin-bottom: 20px;
    height: auto;
  }
  
}