body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #00162b;
}

header {
  display: flex;
  height: 400px;
  margin: 50px 0px;
}

footer {
  display: flex;
  justify-content: space-around;

  height: 400px;
  
  padding: 30px;
  margin-bottom: 70px;
}

/* img.footerBackground{
  position: absolute;
  z-index: -1;
  left: 0;

  width: 100vw;
  max-width: 100%;
  height: 530px;
} */

main {
  margin-bottom: 100px;
}

img.mainBackground{
  position: absolute;
  z-index: -1;
  left: 0;
  top: 200px;

  height: auto;
  width: 100vw;
  max-width: 100%;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
}

.headerInfo {
  display: flex;
  flex-direction: column;
  margin: 40px 40px 40px 0px;
  padding: 20px 40px 20px 40px;
  background-color: white;
}

.aboutMe{
  flex-grow: 1;
  font-size:larger;

  overflow:auto;
  margin-top: 0;
  margin-bottom: 20;
}

.linkContainer {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.shadow {
  box-shadow: 0px 0px 10px #69fffe;
}

img.icon{
  height: 30px;
}

img.icon:hover{
  cursor: pointer;
}

.projectContainer {
  display: grid;
  grid-gap: 40px;
  grid-template-columns:  1fr 1fr 1fr;
  grid-template-rows: 340px;
  grid-auto-rows: 340px;
}

img.projectImg {
  height: 60%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.projectCard {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: white;
}

.projectInfo {
  display :flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.projectInfo > p {
  margin: 0;
}

.projectHeader {
  display: flex;
  align-items: center;
}

.projectHeader>h2{
  flex-grow: 1;
  margin: 0px;
}

.footerInfo {
  display: flex;
  flex-direction: column;
  font-size: larger;

  background-color: white;
  flex: 1;
  padding: 40px;
}

.footerInfo > h1 {
  margin: 0;
}

.footerInfo > .linkContainer {
  justify-content: flex-start;
}

.phone, .email {
  display: flex;
  align-items: center;
  gap: 5px;
}

img.footerImg {
  height: auto;
}